<%= form_for(customer) do |f| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <br>
  <div class="field">
    <%= f.label :subdomain %>
    <%= f.text_field :subdomain %>
  </div>
    <br>
    <div class="field">
      <%= f.label :authentication_type %><br />
      <%= f.label :authentication_type, "Email & Password"  %>
      <%= f.radio_button :authentication_type, 0, :checked => ( customer.authentication_type == 0 ? 'checked' : '' ) %>
      <%= f.label :authentication_type, "SAML" %>
      <%= f.radio_button :authentication_type, 1, :checked => (customer.authentication_type == 1 ? 'checked' : '') %>
    </div>

    <div class="field" id="email_info" style="<%=customer.authentication_type != 0 ? 'display: none;':''%>">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>

    <div class="field" id="saml_info" style="<%=customer.authentication_type != 1 ? 'display: none;':''%>">
      <%= f.label :fingerprint %>
      <%= f.text_field :fingerprint %><br>
      <%= f.label :idp_login %>
      <%= f.text_field :idp_login %>
    </div>

  <div class="actions">
    <% if customer.id.nil? %>
      <%= f.submit 'Create Tenant', :class => 'button-xs customer-submit' %>
    <% else %>
      <%= f.submit 'Update Tenant', :class => 'button-xs customer-submit' %>
    <% end %>
  </div>
<% end %>

<% unless @customerUsers.nil?  %>
<h3> Users </h3>
<table class="table">
  <tbody>
    <% @customerUsers.each do |user| %>
        <tr>
          <td>
            <%= user.email %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
<% end %>

