<p id="notice"><%= notice %></p>

<% unless @current_customer_id.nil? %>
<h1>From <%= Customer.current.subdomain %> you can go to:</h1>
<% end %>

<table class="customer-table">
  <thead>
    <tr>
      <th>Subdomain</th>
      <th colspan="<%= @current_customer_id.nil? ? 3 : 2 %>"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.subdomain %></td>
        <td>
          <%= link_to 'Navigate', "http://#{customer.subdomain}.lvh.me:3000" %>
        </td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tenant', new_customer_path %>

